%section.section-short
  %h1 Dan Moore
  %p
    Co-Founder and Technical Product Lead at Vaporware, Inc. Previously Product Manager, Systems Engineer, and Computer Scientist.
  %p
    With a broad personal mission to
    %b
      %em enable passionate teams to reach epic aspirations,
    I strive to be an empathetic, passionate, and intelligent leader with strong work ethic, integrity, confidence, and communication skills.

%section.section-story
  %h1 My Story
  %aside
    %h2 Beta release
  %article
    %p
      %strong -2002
      Born on Merritt Island, I attended Montessori and learned my multiplication tables before I could read. My family moved to Greensboro, NC and I attended Guilford Primary through 3rd grade. Advancing to Guilford Middle School, I created the Chess Club, sent student notes to the stars, participated in Odyssey of the Mind, and found a reading disability by the 5th grade. I transferred to Guilford Day School for 6th and 7th grade.
      Of note during this early era, I wrote my first computer program at the age of 9, which was a memory hack of
      = link_to "SimTower,", "https://en.wikipedia.org/wiki/SimTower"
      which will, for some reason, be inexplicably linked to having Spice Girls'
      = link_to "Spice Up Your Life.", "https://en.wikipedia.org/wiki/Spice_Up_Your_Life"
      on repeat.
      I traveled with my family to England, France, Japan, and throughout of North America.
      No small thanks to my parents, and no thanks to my sister, I somehow survived the first years of my life. I wish my memory of this time was easier recollected, as it'll probably be useful with our incoming baby boy in August.
  %aside
    %h2 I grew up
  %article
    %p
      %strong 2002-04
      I attended
      = link_to "Greensboro Day School", "http://www.greensboroday.org/"
      and took my first CS Course, AP Computer Science in C++. While I did not value my other classes and had no interest in grades or academic achievement, my parents pushed me to succeed while I enjoyed engineering technical productions at the brand new
      = succeed "." do
        = link_to "Sloan Theatre", "http://www.greensboroday.org/page.cfm?p=75"
      I studied Latin, failed at memorizing the periodic table in Chemistry, fixed school computers, got along with my sister, hosted a German exchange student, and distributed 
      = link_to "Halo:Combat Evolved", "https://en.wikipedia.org/wiki/Halo:_Combat_Evolved"
      for in-school LANs. I attended church and Sunday School at Westminster Presbyterian Church to grow spiritually while learning how to build and participate in community, to always question beliefs, to respect people you don’t agree with, to help our community philanthropically, to explore and experience the world, and how to play mental games to get through boring sermons.
    %p
      %strong 2004-06 
      I transferred to Charlotte Country Day School. While I did (somehow) become a member of the National Honor Society, I also got into a decent bit of trouble with my question-authority mindset. I continued working school theatre - eventually finishing my Senior year with a co-op program at 
      = link_to "Spirit Square", "http://www.blumenthalarts.org/visiting/spirit-square"
      and the Verizon Wireless Amphitheatre. Physically, I was the only male cheerleader for almost a year, played a lot of Hackey Sack in the school courtyard, and got Dance Dance Revolution to be accepted as a fitness elective. Mentally, I learned basic photography composition and film development, studied introductory Chinese, excelled in math, made a mental connection between biology and computers, and had my first serious relationship. I also needed gas money for the first time in my life, so I took a job at Ben & Jerry's, which introduced me to customer service and the food industry. Online, I continued to play PC games and helped lead by administering a gaming community‘s forums, game servers, chat systems, and web development. I traveled internationally to Italy on a 2 week school trip to learn the art of Fresco, watercolor, and photography.

  %aside
    %h2 I learned to enjoy learning
  %article
    %p
      %strong 2006-07
      With no expectations, I stepped into a
      = link_to "triples dorm", "https://en.wikipedia.org/wiki/Georgia_Tech_main_campus#Caldwell_Hall"
      at Georgia Tech, my 2nd choice college after Carnegie Mellon, in August of 2006. As a declared double-major in CS and Biology, I started a journey into 6 years of undergrad. Quickly seeing the cost of out-of-state tuition, I locked into a 4-year CS only plan, and opted for Honors Biology instead. Taking a 15 hour course load, I quickly dropped the ball on Calculus 2, having never studied before in school, and stayed in the class to drop the 40 point normal curve even further (which was later removed from my transcript). Calc aside, a stellar first semester surrounded by like-minded and capable peers brought a new sense of purpose and vigor to my education. Turning down a Semester at Sea in Biology, I ventured into the lab as an Undergraduate Researcher at the Georgia Tech Laboratory for Neuroengineering, assisting
      = link_to "Dr. Ravi Bellamkonda's", "https://www.bme.gatech.edu/bme/faculty/Ravi-Bellamkonda"
      graduate researchers in 3D-printing bio-degradable nerve conduits for regenerative purposes without secondary surgery.
      I learned to live mostly on my own, started an "alternative fraternity" for Ultimate Frisbee enthusiasts, played Racquetball occasionally, was the secretary for the newly formed GT Trailblazers, and pulled plenty of all-nighters in the legendary
      = link_to "S. Price Gilbert library.", "#"
      I finished my first year with an on-campus internship with
      = link_to "CETL", "#"
      focused on the customization of their deployment and support of
      = link_to "Sakai,", "https://sakaiproject.org/"
      or the infamous 
      = link_to "T-Square portal.", "https://t-square.gatech.edu/portal/site/"
    %p
      %strong 2007-08
      I was fortunate enough to land two on-campus jobs with the Housing Department, as a Resident Peer Leader (RA & more for freshman), and as a Teaching Assistant for
      = link_to "Bill Leahy,", "http://www.cc.gatech.edu/people/william-leahy"
      teaching computer engineer's C, their first programming language after MATLAB, basic programming concepts using the Gameboy Advance platform and some unlicensed
      = link_to "development kits.", "https://devkitpro.org/wiki/Getting_Started/devkitARM"
      Through the sheer intensity of GT's Threads program, I learned new programming concepts and a programming language every class, picking up linux, source control, and communication practices along the way.
      Following my mother's feminism, I joined the Society of Women in Business and became the recruitment lead, publishing flyers and bringing in speakers.
      Joining a group of friends, I co-shot and edited a Campus Movie Fest week-long short film that won Best Comedy.
      At the end of the school year, I opted for a summer-long study abroad trip to Barcelona, Spain. Speaking no Spanish or Catalan, I thrived in a foreign environment for 3 months and met (playing a game of Civilization 3) my future wife Jennifer, who was abroad studying Architecture at the same time.
    %p
      %strong 2008-09
      With my growing interest in teaching, I was promoted to Head Teaching Assistant (more responsibilities, same pay) as the class was broadened to other professors and students. I created a practical grade component worth 20% of a student's grade, as students were able to demonstrate concepts and code to TAs over office hours. I took choice electives like an analysis of Lovecraft literature and a history of medicine in media. In Computer Science, I properly learned the TCP/IP networking stack and developed UDP and TCP chat clients. I became a radio DJ on 
      = link_to "WREK-FM,", "#"
      and co-hosted a Broadway Musical weekly show with
      = link_to "Kyle Tait", "#"
      which we syndicated to an early iTunes podcast.
      I also joined the 
      = link_to "GT RNOC Platforms and Prototyping Lab.", "#"
      Originally supporting their VMware vCenter infrastructure, I helped analyze and support the campus' wi-fi network, rolling out an ARC GIS deployment across campus departments. I later used this data to help benchmark algorithms for an improvement on an internal wi-fi based "GPS" tracker in Perl as part of a network management course
      = surround "(", ")." do
        = link_to "SNMP", "#"
        is anything but simple
      Returning once more to CampusMovieFest, I helped produce the year's GT Best Picture
      = link_to "My Normal Approach is Useless Here.", "https://www.youtube.com/watch?v=pkUae8rVkVM"
      I ended up the school year with an internship in San Jose, California with Cisco Systems, working on IPv6 automation tooling and custom Confluence plugins. I spent my spare time volunteering at
      = link_to "The Crucible", "http://thecrucible.org/"
      teaching artists how to hack movable art.

    %p
      %strong 2009-10
      Moving back to Atlanta, I finally located off-campus in beautiful midtown Atlanta.
      I further specialized in my Systems concentration, writing custom linux kernel modules and designing a limited x86 processor in VHDL on a FPGA.
      With my recently acquired automation knowledge, I joined the
      = link_to "SSDL", "http://www.ssdl.gatech.edu/"
      to lead the first version of the Flight Software (FSW) Subsystem of the (later named) Prox-1 nanosatellite through automated tooling and building of the C system and a custom meta-programming conversion of MATLAB algorithms to C code.
      I joined the Gamma Beta Phi and Upsilon Pi Epsilon Honor Societies to socialize and give service to the communities I gained so much from.
      Returning to Campus Movie Fest for one final year, I was the Assistant Director on
      = link_to "Closet Men", "https://www.youtube.com/watch?v=0BrjTiiX00g"
      under Sidarth Kantamneni.
      My time was over at Georgia Tech, graduating with Highest Honors and a BS Computer Science in just 4 years, but my life was just beginning. Before moving to the Research Triangle Park of North Carolina, I took a brief vacation to propose to Jennifer Moore in Paris, France before a Safari in South Africa.

  %aside
    %h2 I joined the industry
  %article
    %p
      %strong 2010-12
      System Engineer at Cisco Systems, Inc.
      Fred Sessoms.
      SASU Innovation Award.
    %p
      %strong 2012-14
      Senior Virtualization Engineer at Windstream Hosted Solutions.
      Jason Schertzinger.

  %aside
    %h2 I made my own path
  %article
    %p
      %strong 2011-12
      Chief Technology Officer at ESFI
    %p
      %strong 2012-Pres.
      Founder of Vaporware, Inc.

%section.section-contact
  %h1 Contact
  
  %aside
    %h2 Raleigh, NC
  %article
    %p I enjoy most coffee joints in the region. I also organize a few Meetups. Message me on twitter and I'd be more than happy to meet up.

  %aside
    %h2 Virtually
  %article
    - data.social.each do |soc|
      - if soc.url.present?
        %a{href: "#{soc.url}", target: "_blank"}
          - unless soc == data.social.last
            = "#{soc.name || soc.serv},"
          - else
            = soc.name || soc.serv